@model List<MyWeddingSystem.Models.ViewModel.UserView>

<!-- Main -->
<section id="main" class="container">
    <section class="box special">
        <header class="major">
            <h2>
                @ViewBag.Type
                <br />
                Irá mostrar todos os usuários.
            </h2>
        </header>
    </section>

    <div class="box">
        <a href="~/User/Insert">Novo</a>
        <hr />
        @if (Model.Count > 0)
        {
            if (string.IsNullOrEmpty(Model.FirstOrDefault().Message))
            {
                <table class="alt">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Login</th>
                            <th>Senha</th>
                            <th>Atualizado</th>
                            <th>Confirmado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@item.Login</td>
                                <td>@item.FirstPassword</td>
                                <td>@item.UpdatedAt</td>
                                <td>@item.Confirmded</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                @Model.FirstOrDefault().Message
            }
            <a href="~/User/SavePDF" target="_blank">@ViewBag.Print</a>
        }
    </div>
</section>


