@model MyWeddingSystem.Models.ViewModel.UserView
@using MyWeddingSystem.Handlers

<div class="box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row uniform 50%">
            <label for="Login">@TranslateHandler.USERLOGIN</label>
            <div class="6u 12u(mobilep)">
                <input type="text" name="Login" id="Login" value="@Model.Login" maxlength="15" />
                @Html.ValidationMessageFor(model => model.Login, @TranslateHandler.ISREQUIRED, new { @class = "error" })
            </div>
        </div>
            <div class="row uniform 50%">
                <label for="Name">@TranslateHandler.USERNAME</label>
                <div class="6u 12u(mobilep)">
                    <input type="text" name="Name" id="Name" value="@Model.Name" />
                    @Html.ValidationMessageFor(model => model.Name, @TranslateHandler.ISREQUIRED, new { @class = "error" })
                </div>
            </div>
            <div class="row uniform">
                <div class="12u">
                    <ul class="actions align-center">
                        <li><input type="submit" id="bt@{@ViewBag.Register}" value="@ViewBag.Register" class="button special" /></li>
                    </ul>
                </div>
            </div>
            <span style="color:#e89980; padding-bottom:-8em;">@Model.Message</span>
    }
    <a href="/User">@ViewBag.Back</a>
</div>
